{% extends 'base.html' %} {% block title %}{% endblock title %} {% block body %} 
{% load heroicons %}
<section
    class="m-auto bg-[#B9F3E4] w-full md:w-2/3 my-8 rounded-lg p-8 mx-4 shadow-md shadow-slate-300 hover:shadow-lg"
>
    <h1 class="mt-4 text-3xl text-justify">{{article.title}}</h1>
    <div class="flex flex-row md:flex-row md:items-center my-3 items-start md:justify-start">
        <p class="mx-2">
            <a href="{% url 'articles:category_detail' article.category.id %}" class="text-blue-500"
                >{{article.category}} :</a
            >
        </p>
        <p class="mx-2"><span class="text-blue-500">{{article.create_at|date:"d/m/Y"}}</span></p>
        <p class="mx-2 flex flex-row">
            <span  class="text-yellow-600" >{% heroicon_solid "star" %}</span>
            <span  class="text-yellow-600" >{% heroicon_solid "star" %}</span>
            <span  class="text-yellow-600" >{% heroicon_solid "star" %}</span>
            <span  class="text-yellow-600" >{% heroicon_solid "star" %}</span>
            <span  class="text-black" >{% heroicon_solid "star" %}</span>
        </p>
    </div>
    <div class="mt-4"><img class="rounded-xl" src="{{article.image.url}}" alt="" /></div>
    <div class="mt-4">{{article.content|safe}}</div>
</section>
{% endblock body %}
