{% extends 'base.html' %} 
{% load heroicons %} 
{% block title %} Articles {% endblock title %}
{% block body %}
{% load static %}
{% load static tailwind_tags %}{% tailwind_css %}
<section class="flex flex-row flex-wrap justify-center my-8">
    {% comment %} {% for i in "x"|rjust:"20" %} {% endcomment %}
    {% for article in articles %}
    <article class=" shadow-md shadow-slate-300 hover:shadow-lg hover:shadow-slate-300 bg-[#B9F3E4] rounded-lg w-72 flex flex-col items-center m-4 group">
        <div class="relative overflow-hidden rounded-t-lg">
            
             <img src="{{article.image.url}}" alt="btc" class="transform ease-in-out duration-500 object-fill h-48 w-96 rounded-t-lg group-hover:scale-110 ">
             <a href="{% url 'articles:article_detail' article.id %}" class="hidden rounded-lg  px-4 py-2 text-yellow-300  cursor-pointe text-center group-hover:absolute group-hover:block bg-slate-700 top-0 right-0 m-1">{{article.category}}</a>
        </div>
         <div class="p-4 flex flex-col items-center">
             <a href="{% url 'articles:article_detail' article.id %}" class="text-gray-400 py-3 w-full text-justify text-lg">{{article.title}}</a>
             {% comment %} <p class="mt-4">{{article.content|slice:120|safe}}...</p> {% endcomment %}
             <div class="flex flex-row justify-between items-center w-full mt-6">
                 <button class="group mx-2  border-2 px-4 py-2 border-gray-500 rounded-lg hover:border-gray-400">{% heroicon_solid "heart" class="text-red-600 cursor-pointer group-hover:text-red-500" %}</button>
                 
                 <a href="{% url 'articles:article_detail' article.id %}" class="group mx-2  border-2 px-4 py-2 border-gray-500 rounded-lg hover:border-gray-400">{% heroicon_solid "eye" class="text-yellow-600 cursor-pointer group-hover:text-yellow-500" %}</a>
                
             </div>
         </div>
     </article>
    {% endfor %}
    {% comment %} {% endfor %} {% endcomment %}
</section>
{% endblock body %}
