{% extends 'base.html' %} 
{% load heroicons %} 
{% block title %} Articles {% endblock title %}
{% block body %}
{% load static %}
{% load static tailwind_tags %}{% tailwind_css %}
<section class="flex flex-row flex-wrap justify-center my-8">
    {% for category in categories %}
    <article class=" shadow-md shadow-slate-400 bg-[#B9F3E4] rounded-lg w-72 flex flex-col items-center m-4 group">
        <div class="relative overflow-hidden rounded-t-lg">
             <img src="{{category.image.url}}" alt="btc" class="transform ease-in-out duration-500 object-fill h-48 w-96 rounded-t-lg group-hover:scale-110 ">
        </div>
         <div class="p-4 flex flex-col">
             <a href="{% url 'articles:category_detail' category.id %}" class="text-gray-400 text-xl  text-center">{{category.title}}</a>
             <p class="mt-4 text-sm text-justify">{{category.description|slice:140|safe}}...</p>
             <div class="flex flex-row justify-between items-center w-full mt-6">
                 <button class="group mx-2  border-2 px-4 py-2 border-gray-500 rounded-lg hover:border-gray-400">{% heroicon_solid "heart" class="text-red-600 cursor-pointer group-hover:text-red-500" %}</button>
                 
                 <a href="{% url 'articles:category_detail' category.id %}" class="group mx-2  border-2 px-4 py-2 border-gray-500 rounded-lg hover:border-gray-400">{% heroicon_solid "eye" class="text-yellow-600 cursor-pointer group-hover:text-yellow-500" %}</a>
                
             </div>
         </div>
     </article>
    {% endfor %}
</section>
{% endblock body %}
