{% extends 'base.html' %} 
{% load heroicons %} 
{% block title %} Articles {% endblock title %}
{% block articles %}
{% load static %}
<section class="flex flex-row flex-wrap justify-center my-8">
    {% for i in "x"|rjust:"20" %}
    <article class="shadow-md shadow-slate-800 bg-slate-700 rounded-lg w-72 flex flex-col items-center m-4">
       <div class="">
            <img src="{% static 'images/btc.jpg' %}" alt="btc" class="object-fill h-48 w-96 rounded-t-lg">
       </div>
        <div class="p-4">
            <h1 class="text-gray-400 py-3">The Bitcoin is the Future</h1>
            <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, reprehenderit!</p>
            <div class="flex flex-row justify-between items-center w-full m-4">
                <button class="group mx-2  border-2 px-4 py-2 border-gray-500 rounded-lg hover:border-gray-400">{% heroicon_solid "hand-thumb-up" class="text-yellow-600 cursor-pointer group-hover:text-yellow-500" %}</button>
                <button class="group mx-2  border-2 px-4 py-2 border-gray-500 rounded-lg hover:border-gray-400">{% heroicon_solid "eye" class="text-yellow-600 cursor-pointer group-hover:text-yellow-500" %}</button>
            </div>
        </div>
    </article>
    {% endfor %}
</section>
{% comment %}
<h1 class="text-5xl text-gray-300 text-center">Django + Tailwind = ❤️</h1>
{% endcomment %} {% endblock articles %}
