{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        {% tailwind_css %}
    </head>

    <body class="bg-[#EEEEEE]">
        {% include "navbar.html" %}
        <div class="mx-auto flex flex-row justify-center items-start">
            {% block body %} {% endblock body %} {% include "sidebar.html" %}
        </div>
        {% include "footer.html" %}
    </body>
</html>
