{% load heroicons %} {% load static tailwind_tags %} {% tailwind_css %}
<nav
    class="bg-[#B9F3E4] shadow-md shadow-slate-300 flex flex-row justify-between items-center px-4 z-50"
>
    <a href="{% url 'articles:home' %}" class="text-2xl text-yellow-600 p-4">ELKHAMLICHI</a>
    {% comment %} Search Bar Descktop Version {% endcomment %}
    <form class="outline-none hidden lg:block" action="/">
        <input
            type="search"
            name="search"
            placeholder="search"
            id="search"
            class="rounded-lg w-96 outline-none border-none"
        />
    </form>
    <ul class="hidden sm:flex sm:flex-row ">
        <li class="transform duration-200 ease-in-out mx-2 py-4">
            <a
                class="text-xl text-yellow-600 p-4 font-sans rounded-lg hover:text-black"
                href="{% url 'articles:about' %}"
                >About</a
            >
        </li>
        <li class="transform duration-200 ease-in-out mx-2 py-4">
            <a
                class="text-xl text-yellow-600 p-4 font-sans hover:text-black"
                href="{% url 'articles:categories' %}"
                >Collections</a
            >
        </li>
        
    </ul>
    <div class="flex flex-row">
        <button class="group border-2 px-4 py-2 border-gray-500 rounded-xl border-white bg-red-600 flex flex-row items-center mx-2">
            <div class="font-bold text-black text-xl text-white group-hover:text-yellow-300" >+2</div>
            <div>
                {% heroicon_solid "heart" class="cursor-pointer text-white group-hover:text-yellow-300" %}
            </div>
        </button>
        <button
            id="navbar_btn_close_open"
            href=""
            class="text-xl text-yellow-600 font-sans sm:hidden hover:border hover:border-gray-500 py-2 rounded-lg px-4"
        >
            {% heroicon_outline "bars-3" %}
        </button>
    </div>
</nav>

{% comment %} ul mobile version {% endcomment %}
<ul class="hidden sm:hidden" id="navbar_ul">
    <li class="transform duration-200 ease-in-out mx-2 py-4 hover:border-l-2 hover:border-l-black">
        <a
            class="text-xl text-yellow-600 p-4 font-sans rounded-lg hover:text-black"
            href="{% url 'articles:about' %}"
            >About US</a
        >
    </li>
    <li class="transform duration-200 ease-in-out mx-2 py-4 hover:border-l-2 hover:border-l-black">
        <a
            class="text-xl text-yellow-600 p-4 font-sans hover:text-black"
            href="{% url 'articles:categories' %}"
            >Collections</a
        >
    </li>
    <li class="transform duration-200 ease-in-out mx-2 py-4 hover:border-l-2 hover:border-l-black">
        <a
            class="text-xl text-yellow-600 p-4 font-sans hover:text-black"
            href="{% url 'articles:categories' %}"
            >Contact US</a
        >
    </li>
</ul>
{% comment %} search bar mobile version {% endcomment %}
<form class="outline-none flex lg:hidden mx-auto w-96 md:w-2/3 justify-center mt-4" action="/">
    <input
        type="search"
        name="search"
        placeholder="search"
        id="search"
        class="rounded-lg w-80 outline-none border-none"
    />
</form>
