{% load heroicons %} {% load static tailwind_tags %} {% tailwind_css %}
<nav
    class="bg-[#B9F3E4] shadow-md shadow-slate-300 flex flex-row justify-between px-4 items-center"
>
    <a href="{% url 'articles:home' %}" class="text-2xl text-yellow-600 p-4">ELKHAMLICHI</a>
    {% include "search.html" %}
    <ul class="flex flex-row items-center">
        <li class="mx-2">
            <a class="text-xl text-yellow-600 p-4 font-sans hover:border-white rounded-lg" href=""
                >About</a
            >
        </li>
        <li class="mx-2">
            <a class="text-xl text-yellow-600 p-4 font-sans" href="{% url 'articles:categories' %}"
                >Collections</a
            >
        </li>
        <li class="mx-2">
            <a href="" class="text-xl text-yellow-600 font-sans">{% heroicon_outline "bars-3" %}</a>
        </li>
    </ul>
</nav>
