{% load heroicons %} {% load static %} {% load static tailwind_tags %}{% tailwind_css %}

<section class="flex flex-row flex-wrap justify-start my-6 w-1/3">
    {% for i in "x"|rjust:"10" %}
    <article
        class="shadow-md shadow-slate-300 hover:shadow-lg hover:shadow-slate-300 bg-[#B9F3E4] rounded-lg w-40 flex flex-col items-center m-2 group"
    >
        <div class="relative overflow-hidden rounded-t-lg">
            <img
                src="{% static 'images/btc.jpg' %}"
                alt="btc"
                class="transform ease-in-out duration-500 object-fill h-28 w-96 rounded-t-lg group-hover:scale-110"
            />
            <a
                href=""
                class="hidden rounded-lg px-4 py-2 text-yellow-300 cursor-pointe text-center group-hover:absolute group-hover:block bg-slate-700 top-0 right-0 m-1"
                >crypto</a
            >
        </div>
        <div class="p-4 flex flex-col items-center">
            <a href="#" class="text-gray-400 py-3 w-full text-justify text-base">The Bitcoin is the future</a>

            <div class="flex flex-row justify-between items-center w-full">
                <button class="group mx-2  border-2 px-4     py-2 border-gray-500 rounded-lg hover:border-gray-400">{% heroicon_solid "heart" class="text-red-600 cursor-pointer group-hover:text-red-500" %}</button>
                
                <a href="#" class="group mx-2  border-2 px-4 py-2 border-gray-500 rounded-lg hover:border-gray-400">{% heroicon_solid "eye" class="text-yellow-600 cursor-pointer group-hover:text-yellow-500" %}</a>
            </div>
        </div>
    </article>
    {% endfor %}
</section>
