{% load heroicons %} 
<nav class="bg-slate-700 flex flex-row justify-between px-4 items-center">
    <h1 class="text-2xl text-gray-300 p-4">Blog</h1>
    {% include "search.html" %}
    <ul class="flex flex-row items-center">
        <li class="mx-4">
            <a class="text-xl text-gray-300 p-4 font-sans hover:border-white rounded-lg" href=""
                >About</a
            >
        </li>
        <li class="mx-4">
            <a class="text-xl text-gray-300 p-4 font-sans" href="">Contact Us</a>
        </li>
        <li class="mx-4"><a class="text-xl text-gray-300 p-4 font-sans" href="">Categories</a></li>
        <li class="mx-4">
            <a href="" class="text-xl text-gray-300 font-sans">{% heroicon_outline "bars-3" %}</a>
        </li>
    </ul>
</nav>
